.create-lab-container {
    position: relative;
    min-height: 100vh;
  }
  
  .lab-title {
    text-align: center;
    margin-top: 20px;
  }
  
  .bottom-button-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .create-lab-button {
    background-color: #294DFF;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    border-radius: 1000px;
    width: 171px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .create-lab-button:hover {
    background-color: #002ECC;
  }

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    left: -324px; /* Hidden off-screen */
    width: 304px;
    height: 100vh;
    background-color: #294DFF;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 998;
  }
  
  .sidebar.open {
    left: 0; /* Slide in when open */
  }
  
  .sidebar .tabs {
    display: flex;
    padding-bottom: 16px;
    margin-bottom: 16x;
    border-bottom: 1px solid #999999;
  }
  
  .tab {
    min-width: 106px;
    padding: 10px;
    background-color: #294DFF;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;

    border-radius: 20px;
    outline: none;
  }
  
  .tab.active {
    background-color: #000000;
  }
  
  .tab-content {
    margin-top: 20px;

    h3 {
      margin: 0;
      font-size: 24px;
      line-height: 40px;
      text-align: start;
    }
  }
  
  /* Sidebar Toggle Button */
  .sidebar-toggle {
    padding: 0;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    left: 36px; /* Align with the sidebar */
    background-color: #294DFF;
    border: none;
    color: white;
    cursor: pointer;
    transition: margin-left 0.3s ease; /* Slide the button along with the sidebar */
    z-index: 999;
  }

  .sidebar-toggle:hover {
    background-color: #4363FF;
  }

  .sidebar-header-toggle {
    width: 40px; */
    height: 40px;
    padding: 0;
    font-size: 30px;
    position: absolute;
    right: 16px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: margin-left 0.3s ease; /* Slide the button along with the sidebar */
    z-index: 1100;
  }

  .sidebar-header-toggle:hover {
    background-color: #4363FF;
  }
  
  .sidebar-toggle.open {
    margin-left: 304px; /* Stay to the right of the open sidebar */
  }
  
  /* Modal styling to center it on the page */
  label {
    line-height: 36px;
    font-size: 24px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Transparent dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure modal appears on top */
  }
  
  .modal-content {
    background: #191919;
    padding: 32px 20px;
    border-radius: 10px;
    width: 400px;
    color: white;
    text-align: start;
  }
  
  .modal-content input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .modal-actions {
    margin-top: 20px;

    button {
      padding: 16px 24px;
      border-radius: 1000px;
      background-color: #1F1F1F;
    }

    text-align: center;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #0066cc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }

  .substance-container {
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1000vh;
    background-color: #000000;
  }

  .sidebar-button {
    height: 40px;
    width: 100%;
    background: #294DFF;
    color: white;
    border-bottom: 1px solid #999999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .sidebar-button:hover {
    background-color: #4363FF;
  }
  