#video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1; /* z-index를 낮게 설정하여 div가 그 위에 올 수 있게 함 */
  transform: scaleX(-1);
}

#hand {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; /* video 위에 겹치도록 설정 */
  pointer-events: none; /* div가 비디오 상호작용을 막지 않도록 */
  background-color: rgba(255, 255, 255, 0.2); /* 예시: 반투명 흰색 배경 */
}

#fist {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; /* video 위에 겹치도록 설정 */
  pointer-events: none; /* div가 비디오 상호작용을 막지 않도록 */
  background-color: rgba(255, 255, 255, 0.5); /* 예시: 반투명 흰색 배경 */
}

#lab-inventory-header {
  max-width: 508px;
  height: 64px;
  border-radius: 32px;
  position: absolute;
  z-index: 10;
  top: 0;
  margin-top: 16px;
  display: flex;
  justify-content: space-between; /* 양쪽 버튼이 좌우에 위치하고 가운데 내용이 중앙에 오도록 */
  align-items: center;
  background-color: black;
  width: calc(100% - 32px);
  left: calc(100% - 32px);
  padding: 0 16px;
  text-align: center;

  left: 50%;
  transform: translateX(-50%);
}

.reset-button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff3434;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}

.reset-button:hover {
  background-color: #f16161;
}

.close-button {
  margin-right: 8px;
  width: 40px;
  max-width: 40px;
  min-height: 40px;
  border-radius: 8px;
  background-color: #294DFF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header-text {
  color: white;
  flex-grow: 1; /* 가운데 텍스트가 가로로 공간을 차지하게 만듦 */
  font-size: 16px;
  text-align: center;
}

.image-container {
  position: absolute;
  overflow: hidden; /* Ensures no overflow */
  background-color: transparent; /* The div is transparent */
}

.image-container img {
  width: 100%; /* 100% width of the container */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  display: block;
}

#bottle {
  z-index: 4;
  position: absolute;
}

#dropper {
  z-index: 6;
  position: absolute;
}

#beaker {
  z-index: 4;
  position: absolute;
}

#flask {
  z-index: 4;
  position: absolute;
}