/* LabList.css */

body {
    background-color: #1c1c1c;
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  .lab-list-page {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }
  
  .lab-list-item {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .lab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  
  .lab-header-actions {
    display: flex;
    align-items: center;
  }
  
  .enter-lab-btn {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .enter-lab-btn:hover {
    background-color: #004a99;
  }
  
  .toggle-arrow {
    font-size: 16px;
    transition: transform 0.3s ease;
  }
  
  .toggle-arrow.open {
    transform: rotate(180deg); /* Rotate arrow when open */
  }
  
  .lab-details {
    margin-top: 10px;
    color: #cccccc;
  }
  
  .lab-divider {
    border: none;
    border-top: 1px solid #555;
    margin-top: 10px;
  }
  